:root {
    --bg-color: rgb(255, 254, 250);
    --gbg-color: rgb(238, 235, 223);
    --border: rgb(255, 254, 250);
    --shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1em;
    color: var(--gbg-color);
    margin-right: 50px;
    text-align: right;
}

.button {
    display: block;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
    border-radius: 50%;
    margin-left: 50px;
    margin-bottom: 30px;
}

.button--start {
    background-image: url(img/Asset\ 3.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 37px;
    background-size: 35%;
}

.button--start:hover {
    background-image: url(img/Asset\ 3\ active.svg);
}

.button--stop {
    display: none;
    background-image: url(img/Asset\ 2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 37%;
}

.button--stop:hover {
    background-image: url(img/Asset\ 2\ active.svg);
}

.button--clear {
    background-image: url(img/Asset\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
}

.button--clear:hover {
    background-image: url(img/Asset\ 1\ active.svg);
}

.game {
    width: 550px;
    height: 550px;
    border: 1em var(--border) solid;
    border-radius: 20px;
    background-color: var(--gbg-color);
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
}

.game__row {
    flex-grow: 1;
    display: flex;
}

.game__cell {
    border: 0.04em var(--border) solid;
    flex-grow: 1;
}
