:root {
    --bg-color: #81b29a;
    --gbg-color: #3d405b;
    --border: #f4f1de;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

h1 {
    font-size: 40px;
    font-family: monospace;
    color: var(--border);
}

.alive {
    background-color: var(--border);
}

.game {
    width: 550px;
    height: 550px;
    border: 0.3em var(--border) solid;
    background-color: var(--gbg-color);
    display: flex;
    flex-direction: column;
}

.game__row {
    flex-grow: 1;
    display: flex;
}

.game__cell {
    border: 0.04em var(--border) solid;
    flex-grow: 1;
}
