:root {
    --bg-color: rgb(255, 254, 250);
    --gbg-color: rgb(238, 235, 223);
    --border: rgb(255, 254, 250);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    font-family: monospace;
    color: black;
}

button {
    display: block;
}

.alive {
    background-color: var(--border);
}

.game {
    width: 550px;
    height: 550px;
    border: 1em var(--border) solid;
    border-radius: 20px;
    background-color: var(--gbg-color);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.game__row {
    flex-grow: 1;
    display: flex;
}

.game__cell {
    border: 0.04em var(--border) solid;
    flex-grow: 1;
}
